<form action="/create" method="post">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" required value="{{.Title}}">

    <label for="data">Post</label>
    <div id="tinymdeToolbar"></div>
    <div class="txtcontainer">
        <textarea id="data" name="data" rows="24" required>{{.Text}}</textarea>
    </div>

    <div class="checkbox-container">
        <input type="checkbox" id="publish" name="publish" {{if .Publish}}checked{{end}}>
        <label for="publish">Publish?</label>
    </div>

    <input type="submit" value="Submit">
</form>
<div id="preview">{{.HTMLMessage}}</div>

<script type="text/javascript">
   function loadCSS(filename){ 
      var file = document.createElement("link");
      file.setAttribute("rel", "stylesheet");
      file.setAttribute("type", "text/css");
      file.setAttribute("href", filename);
      document.head.appendChild(file);
   }

   loadCSS("/files/tiny-mde.min.css");
</script>
<script src="/files/tiny-mde.min.js"></script>
<script type="text/javascript">
  var tinyMDE = new TinyMDE.Editor({ textarea: "data" });
  var commandBar = new TinyMDE.CommandBar({
    element: "tinymdeToolbar",
    editor: tinyMDE,
  });
</script>