{{range .PageData}}
	<div class="postsummary">
		<div class="title"><a href="/posts/{{.URL}}">{{.Title}}</a>{{if $.HasSession}}<a title="edit" href="/create/{{.URL}}" class="edit">&#9998;</a>{{end}}</div><sup>
		<i>{{.Timestamp}}</i></sup>
	</div>
{{else}}
	<div class="postsummary">There are no posts...</div>
{{end}}
<div class="pagination">
{{if and (eq .CurrentPage 0) (ne .CurrentPage .NextPage)}}
	<a href="/page/{{.NextPage}}">older posts</a>
{{else if eq .NextPage .CurrentPage}}
	<a href="/page/{{.PreviousPage}}">newer posts</a>
{{else if and (ne .CurrentPage .NextPage) (ne .CurrentPage .PreviousPage)}}
	<a href="/page/{{.PreviousPage}}">newer posts</a> | <a href="/page/{{.NextPage}}">older posts</a>
{{end}}
</div>