body {
    min-height: 96vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    margin-top: -1em;
}

app {
    flex-grow: 1;
}

app .edit {
    display: inline-block;
    transform: scaleX(-1);
    float: right;
}

app .checkbox-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

app .checkbox-container label, app .checkbox-container input {
	display: inline-block;
	float: right;
}

app .postsummary {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    font-size: 1.3em;
}

app .postsummary .title {
    display: flex;
    justify-content: space-between;
}

app .pagination {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    margin-bottom: 1em;
}

app .post h3:first-of-type {
    margin-top: 0.2em;
}

app form #title {
    display: block;
    width: 100%;
}