.checkbox-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.checkbox-container label, .checkbox-container input {
	display: inline-block;
	float: right;
}